.bg-primary {
  background-color: #00838f !important;
}

.bg-secondary {
  background-color: #006972 !important;
}

.text-primary {
  color: #00838f !important;
}

.text-secondary {
  color: #96bab3 !important;
}

.btn-primary {
  background-color: #00838f !important;
  border-color: #002629 !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #00545c !important;
}

.btn-primary:active {
  background-color: #002629 !important;
  border-color: black !important;
}

.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 131, 143, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 131, 143, 0.5) !important;
}

footer a {
  color: white !important;
}

footer a:hover {
  color: #e0dfdf !important;
}

/*--------------------------
ESTILOS DEL DISEÑO
---------------------------*/

.card:hover {
  -webkit-box-shadow: 0 0 10px #0c0c0c3b;
  box-shadow: 0 0 10px #0c0c0c3b;
}
